* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-area {
    margin: auto;
    text-align: center;
    background-color: #f2f2f2;
    width: 90%;
    margin: 20px auto 5px auto;
    padding: 15px;
    border: 1px solid #ccc;
}

input {
    width: 400px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.info-panel {
    display: flex;
    width: 90%;            
    margin: 5px auto;   
    gap: 2px;  
}

.info-box {
    background-color: #7ee5da;
    flex: 1;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
}